/* * {border: 1px solid red !important;} */

body {
    font-family: 'Ariel', sans-serif;
    background: #F5ECD0;
    margin: 1%;
    margin-bottom: 5%;
}

.title_super {
    font-size: 50px;
}

.onepxunder {
    border-bottom: solid 1px;
    border-bottom-color: #224066;
}

a:link {
    color: #224066;
}
a:hover {
    color: #6E8AAE;
    text-decoration: none;
}


